[
    {rabbit, [
{% if ssl_only %}
        {tcp_listeners, []},
{% else %}
    	{tcp_listeners, [5672]},
{% endif %}
{% if ssl_port %}
     	{ssl_listeners, [{{ ssl_port }}]},
{% endif %}
{% if ssl_mode == "on" %}
    	{ssl_options, [
 	        {verify, verify_peer},
{% if ssl_client %}
                {fail_if_no_peer_cert, true},
{% else %}
                {fail_if_no_peer_cert, false},
{% endif %}
           {% if ssl_ca_file %}
                {cacertfile, "{{ ssl_ca_file }}"},
           {% endif %}
           {% if ssl_cert_file %}
                {certfile, "{{ ssl_cert_file }}"},
           {% endif %}
           {% if ssl_key_file %}
                {keyfile, "{{ ssl_key_file }}"}
           {% endif %}
    	]},
{% endif %}

        {% if cluster_partition_handling %}
        {cluster_partition_handling, {{ cluster_partition_handling }}}
        {% endif %}
    ]}
].
